.search-container
  display: flex
  flex-flow: row wrap
  justify-content: space-around
.search-item
  width: 300px
  margin: 20px 10px 0
  .search-item-header
    cursor: pointer
  .search-item-img
    max-height: 400px
    margin-bottom: 0
    cursor: pointer
  .search-item-footer
    text-align: right

