<mat-tab-group dynamicHeight>
  <mat-tab *ngFor="let section of data; let s = index;">
    <ng-template mat-tab-label>
      <span matBadge="{{section.items.length}}" matBadgeOverlap="false">{{section.title}}</span>
    </ng-template>
    <div class="search-container">
      <mat-card class="search-item" *ngFor="let item of section.items; let i = index">
        <mat-card-header class="search-item-header" [routerLink]="['/info', item.imdbID]">
          <mat-card-title class="search-item-title">{{item.Title}}</mat-card-title>
          <mat-card-subtitle>{{item.Year}}</mat-card-subtitle>
        </mat-card-header>
        <img [routerLink]="['/info', item.imdbID]" mat-card-image class="search-item-img" [src]="item.Poster" alt="{{item.Title + ' (' + item.Year + ')'}}" />
        <mat-card-actions class="search-item-footer">
          <button mat-button *ngIf="!item.fav" (click)="addToFav(s, i)"><mat-icon>favorite_border</mat-icon> Add to Favorite</button>
          <button mat-button *ngIf="item.fav" (click)="removeFromFav(s, i, item.imdbID)"><mat-icon>favorite</mat-icon> Remove from Favorite</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
