.image
  float: left
  width: 300px
  margin-right: 20px
  img
    max-width: 300px
.rating
  float: right
  margin-bottom: 20px
  width: 230px
  h4
    margin: 0 0 10px
  p
    margin: 0 0 5px
.info
  float: left
  width: calc(100% - 320px - 230px)
  h2
    margin-top: 0
  .row
    display: inline-block
    width: 100%
    margin-bottom: 5px
    .title
      float: left
      font-weight: bold
      margin-right: 5px
    .value
      float: left
.about
  clear: both
  padding-top: 20px

@media screen and (max-width: 1000px)
  .rating
    float: left
  .info
    float: none
    clear: both
    width: 100%
