<div class="wrapper">
  <div class="loading" *ngIf="resultLoading"><mat-spinner class="spinner"></mat-spinner></div>
  <div class="movie-info" *ngIf="resultReady">
    <div class="image">
      <img [src]="result.Poster" />
    </div>
    <div class="rating">
      <h4>Rating:</h4>
      <p *ngFor="let rating of result.Ratings">{{rating.Source}} <strong>{{rating.Value}}</strong></p>
      <p>IMDb Rating <strong>{{result.imdbRating}}</strong></p>
    </div>
    <div class="info">
      <h2>{{result.Title}}</h2>
      <div class="row" *ngIf="result.Type">
        <div class="title">Type:</div>
        <div class="value">{{result.Type}}</div>
      </div>
      <div class="row" *ngIf="result.Year">
        <div class="title">Year:</div>
        <div class="value">{{result.Year}}</div>
      </div>
      <div class="row" *ngIf="result.Released">
        <div class="title">Released:</div>
        <div class="value">{{result.Released}}</div>
      </div>
      <div class="row" *ngIf="result.totalSeasons">
        <div class="title">Seasons:</div>
        <div class="value">{{result.totalSeasons}}</div>
      </div>
      <div class="row" *ngIf="result.Runtime">
        <div class="title">Runtime:</div>
        <div class="value">{{result.Runtime}}</div>
      </div>
      <div class="row" *ngIf="result.Writer">
        <div class="title">Writer:</div>
        <div class="value">{{result.Writer}}</div>
      </div>
      <div class="row" *ngIf="result.Actors">
        <div class="title">Actors:</div>
        <div class="value">{{result.Actors}}</div>
      </div>
      <div class="row" *ngIf="result.Director">
        <div class="title">Director:</div>
        <div class="value">{{result.Director}}</div>
      </div>
      <div class="row" *ngIf="result.Genre">
        <div class="title">Genre:</div>
        <div class="value">{{result.Genre}}</div>
      </div>
      <div class="row" *ngIf="result.Country">
        <div class="title">Country:</div>
        <div class="value">{{result.Country}}</div>
      </div>
      <div class="row" *ngIf="result.Language">
        <div class="title">Language:</div>
        <div class="value">{{result.Language}}</div>
      </div>
      <div class="row" *ngIf="result.Rated">
        <div class="title">Rated:</div>
        <div class="value">{{result.Rated}}</div>
      </div>
      <div class="row" *ngIf="result.Awards">
        <div class="title">Awards:</div>
        <div class="value">{{result.Awards}}</div>
      </div>
    </div>
    <div class="about" *ngIf="result.Plot">{{result.Plot}}</div>
  </div>
</div>
