<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <mat-icon class="icon">movie</mat-icon>
    <span>My movies</span>
    <span class="spacer"></span>
    <a [routerLink]="['/search']" routerLinkActive="disabled" mat-button class="button">Search</a>
    <a [routerLink]="['/favorite']" routerLinkActive="disabled" mat-button class="button">Favorites</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
