@import '@angular/material/prebuilt-themes/deeppurple-amber.css'

body
  font-family: Roboto

.wrapper
  width: 90%
  margin: 20px auto

.loading
  text-align: center
  margin-top: 20px
  width: 100%
  .spinner
    display: inline-block

.search-result
  margin-top: 20px
  .search-result-total
    margin: 20px 0
