<div class="wrapper">
  <mat-card>
    <form [formGroup]="searchForm" (submit)="search()" novalidate class="form">
      <mat-form-field class="input">
        <input matInput formControlName="searchField" [matAutocomplete]="auto" (input)="autocomlete()" placeholder="Please enter Movie, Series, Episode name" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of autocomleteList" [value]="option.Title">
            {{option.Title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button class="button">Search</button>
    </form>
  </mat-card>

  <div class="search-result-paginator" *ngIf="resultTotal">
    <!--<div class="total">Show: {{resultCount}} Page: {{resultPage}} Total result: {{resultTotal}}</div>-->
    <mat-paginator [length]="resultTotal"
                   [pageSize]="resultCount"
                   (page)="setPage($event)">
    </mat-paginator>
  </div>
  <div class="loading" *ngIf="resultLoading"><mat-spinner class="spinner"></mat-spinner></div>
  <div class="search-result" *ngIf="resultReady">
    <app-item [data]="result" (action)="itemAction($event)"></app-item>
  </div>

</div>
