<div class="wrapper">

  <mat-card *ngIf="resultError">
    <div class="error">{{resultError}}</div>
  </mat-card>

  <div class="search-result" *ngIf="resultReady">
    <app-item [data]="result" (action)="itemAction($event)"></app-item>
  </div>

</div>
